
<<<<<<< HEAD
 

.ChamVizWrapper { 
  clear: both; -webkit-touch-callout: 
  none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
  -webkit-user-select: none; -khtml-user-select: none; 
  -moz-user-select: none; -ms-user-select: none; user-select: none; } 
  .ChamViz { position: relative; overflow: hidden; } 
  .ChamViz img { width: inherit; height: inherit; border: none; } 
  .viz-control { width: 100%; height: 100%; } 
  .viz-layer, .viz-highlight, .viz-control, 
  .ZoomLayer, 
  .zoom-control { position: absolute; top: 0; left: 0; } 
  .viz-baseimage { display: block; z-index: 0; } 
  .viz-highlight { display: none; -moz-opacity: 0.5; 
    -khtml-opacity: 0.5; filter: alpha(opacity=50); 
    opacity: 0.5; } 
    .ZoomLayer { width: 100%; 
      height: 100%; overflow: hidden; display: none; } 
      .zoom-control { display: none; cursor: pointer; } 
      .viz-fit-width .ChamViz { width: 100%; } 
      .viz-contain .ChamViz { width: auto; height: auto; display: inline-block; vertical-align: top; } 
      .viz-contain .ChamViz img { max-width: 100%; max-height: 100%; } 
      .viz-cover { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: start; 
        -ms-flex-pack: start; justify-content: flex-start; 
        -webkit-box-align: start; -ms-flex-align: start; 
        align-items: flex-start; } 
        .viz-cover .ChamViz { min-width: 100%; min-height: 100%; -webkit-box-flex: 0; -ms-flex: 0 0 auto; flex: 0 0 auto; } 
        .viz-sizing-root .viz-contain { display: inline-block; vertical-align: top; } 
        .viz-align-center.viz-contain, .viz-align-center.viz-cover { text-align: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } 
        .viz-align-right.viz-contain, .viz-align-right.viz-cover { text-align: right; -webkit-box-pack: end; -ms-flex-pack: end; justify-content: flex-end; } 
        .viz-align-middle { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } 
        .viz-align-bottom { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; }
=======
>>>>>>> c84b1e4c51a4b99671f3331a20aa367c1db458e4
